{{{template.template}}}
<script>
    window.ExectualsObj ={{{data}}};
</script>
{{#if template.buildPath.css.length}}
    {{#each template.buildPath.css}}
        <link href="{{this}}" rel="stylesheet" type="text/css">
    {{/each}}
{{/if}}
{{#if template.buildPath.js.length}}
    {{#each template.buildPath.js}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
{{/if}}
